/* header */

.box {
 

    width: 1920px;

    margin: 0 auto;
    font-family: "ArchyEDT-Bold", sans-serif;

    

}

header {

    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 52px 0 60px 0;
    color: #707070;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 50%;




}


ul {

    display: flex;
    justify-content: space-around;
    color: #707070;
    font-size: 20px;
    font-weight: bold;
   

}
li{
 color: #707070;
 font-size: 20px;
 font-weight: 300;
}

nav {
    width: 70%;
}

/* section didi foto  */
section {
    width: 85%;
    height: 613px;
    margin: 0 auto;
    margin-bottom: 123px;

    background-image: url("../image/bigfoto.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/*  section patara fotoebi
*/
.section12 {
    width: 85%;
    margin: 0 auto;


}

.section1 {
    width: 100%;
    height: 686px;

    margin-bottom: 149px;
}

.section2 {
    width: 100%;
    height: 686px;

}

h2 {
    font-size: 40px;
    margin-bottom: 70px;
    color: #707070;
}

.foto6 {
    width: 100%;
    height: 563px;
    display: flex;
    justify-content: space-between;

}

.foto {

    width: 30%;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 3px 3px 6px #707070,-3px 0 6px #8f8e8e;
}


h4 {
    font-size: 30px;
    margin-top: 302px;
    margin-left: 5%;
    color: #707070;
    
}

.more {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 35px;
    margin-left: 83%;
    color: #707070;
}


.one {
    background-image: url("../image/foto1.svg");
}

.two {
    background-image: url("../image/foto2.svg");
}

.three {
    background-image: url("../image/foto3.svg");
}

.four {
    background-image: url("../image/foto4.svg");
}

.five {
    background-image: url("../image/foto5.svg");
}

.six {
    background-image: url("../image/foto6.svg");
}

/* footer */
footer {
    width: 1920px;
    height: 207px;
    margin: 0 auto;
    background-color: #2E2E2E;
    color: #F8F8F8;
    margin-top: 75px;
    margin-bottom: 10px;

}

.footer {

    width: 85%;
    padding: 49px 0 63px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.size {
    text-align: center;
    padding-bottom: 7px;
}

.fb {
    padding-right: 34.1px;
}