/* header */

.box {


    width: 1920px;

    margin: 0 auto;
   



}

header {

    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 52px 0 60px 0;
    color: #707070;
    font-family: "ArchyEDT-Bold", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 50%;




}


ul {

    display: flex;
    justify-content: space-around;
    color: #707070;
    font-size: 20px;
    font-weight: bold;


}

li {
    color: #707070;
    font-size: 20px;
    font-weight: 300;
}

nav {
    width: 70%;
}

/* section didi foto  */
section {
    width: 85%;
    height: 613px;
    margin: 0 auto;
    margin-bottom: 123px;

    background-image: url("../image/bigfoto.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "ArchyEDT-Bold", sans-serif;


}

/*  section patara fotoebi
*/
.section12 { 
  
    width: 85%;
    margin: 0 auto;
    font-family: "ArchyEDT-Bold", sans-serif;



}

.section1 { 
    width: 100%;
    height: 686px;
    margin-bottom: 149px;
}

.section2 {
    width: 100%;
    height: 686px;

}

h2 {
    font-size: 40px;
    color: #707070;
    margin-bottom: 70px;
}

.foto6 {
   
    width: 100%;
    height: 563px;
    display: flex;
    justify-content: space-between;
  

}
.foto1{
    
    width: 31%;
    height: 563px;
    box-shadow: 5px 5px 8px #707070,-5px 0 8px #707070;

}
.text{
    width: 95%;
    height: 235px;
    margin: 20px auto ;
    display: flex;
    flex-direction: column;
 justify-content: space-between;
    
    
}
h4{
    font-size: 30px;
    color: #707070;
}

.more{
   text-align: right;
   font-size: 24px;
   color: #707070;
   
}
.one{
    width: 100%;
    height: 50%;
    margin: 0 auto;
    background-image: url("../image/foto1.svg");
}
.two{
    width: 100%;
    height: 50%;
    margin: 0 auto;
    background-image: url("../image/foto2.svg");

}
.three{
    width: 100%;
    height: 50%;
    margin: 0 auto;
    background-image: url("../image/foto3.svg");

}
.four{
    width: 100%;
    height: 50%;
    margin: 0 auto;
    background-image: url("../image/foto4.svg");

}
.five{
    width: 100%;
    height: 50%;
    margin: 0 auto;
    background-image: url("../image/foto5.svg");

}
.six{
    width: 100%;
    height: 50%;
    margin: 0 auto;
    background-image: url("../image/foto5.svg");

}





/* footer */
footer {
    width: 1920px;
    height: 207px;
    margin: 0 auto;
    background-color: #2E2E2E;
    color: #F8F8F8;
    margin-top: 75px;
    margin-bottom: 10px;

}

.footer {

    width: 85%;
    padding: 49px 0 63px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.size {
    text-align: center;
    padding-bottom: 7px;
}

.fb {
    padding-right: 34.1px;
}

@media screen and (max-width: 480px) {
    .box {
        
        width: 320px;
        height: 2097px;
    }

    header {
        width: 100%;
        gap: 160px;
    }


    nav {
        display: none;
    }

    section {
        width: 100%;
        height: 253px;
        margin-bottom: 91.5px;
        background-image: url("../image/smallfoto.svg");
        background-position: center;
        background-size: cover;
    }

    .section12 {
     
        width: 80%;
        height: 1454px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom:0;
       
        
        
    }
    .section1, .section2 {
        width: 100%;
         display: flex;
         flex-direction: column;

    
     
 
    }
    .foto6{
        display: flex;
        flex-wrap: wrap;
        gap: 32.4px;
        /* box-shadow: 2px 2px 4px #707070, -2px 0 4px  #707070; */
        
    }
    .foto1{
       
        width: 100%;
        height: 286.65px;
        margin-bottom: 32.4px;
        

    }
    .foto{
        width: 100%;
        height: 50%


    }
    .text{
        width: 85%;
        height: 79px;
    }

    h2 {
        font-size: 15px;
        text-align: center;
        margin-bottom: 31.9px;
    }
    h4{
       font-size: 15px;
      }
    .more{
        font-size: 11px;
    }

  .del{
    display: none;
 }
   

footer{
    width: 100%;
    height: 240.71px;
    
}
.footer{
    width: 80%;
    margin: 0 auto ;
    margin-bottom: 21px;
     justify-content: center;
      flex-wrap:wrap ;
      padding-top: 21px;
      padding-bottom: 21px;
     
    gap: 33px;
   
    
}

.adress{
    order: -1;
}


.logot{
    display:none;
}
.size{
    font-size: 19px;
    text-align: center;
}
p{
    font-size: 13px;
}


}
